{% extends 'base.html' %}

{% block title %}
Cadastrar Cliente - Barbearia
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow">

            <div class="card-header bg-dark text-white">
                <h3 class="mb-0">
                    {% if editar %}
                        ✏️ Editar Cliente
                    {% else %}
                        ➕ Cadastrar Cliente
                    {% endif %}
                </h3>
            </div>

            <div class="card-body">

                <form method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="mt-3">

                        <button type="submit" class="btn btn-dark">
                            {% if editar %}
                            Salvar alterações
                        {% else %}
                            Cadastrar cliente
                        {% endif %}
                        </button>

                        <a href="{% url 'home' %}" class="btn btn-secondary">
                            Cancelar
                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}